<p class="mt-4"><strong>Nombre del país:</strong> Perú</p>
<img class="mt-1" src="https://upload.wikimedia.org/wikipedia/commons/3/39/Peru_bandera.png" alt="imagenPeru" id="peru">
<p class="mt-4"><strong>Datos generales:</strong></p>
<p>Perú es un país de Sudamérica que abarca una sección del bosque del Amazonas y Machu Picchu, una antigua ciudad inca en las alturas de los Andes. La región en torno a Machu Picchu, incluido el Valle Sagrado, el Camino del Inca y la ciudad colonial de Cuzco, es rica en sitios arqueológicos.
  El Perú es uno de los países más variados del mundo. Un país multicultural, lleno de tradiciones, una laureada gastronomía y vastas reservas naturales.</p>
